<div class="container">
  

    <h3>WELCOME <span id="user_name"><%= @name %>!</span> You are on the SECRET page.</h3>

    <img src="/cash.png" alt="honey I shrunk the kids photo" width="200"><br>    
    <a href='/logout'>Logout</a>
     

</div>
